.bg-cream {
    background: #ebeeee;
}

/* FundCard */
.progress-bar {
    background: hsl(37, 87%, 49%);
}

.onHover:hover {
    background-color: #FAF9DE;
    transition: background-color 500ms ease;
}

/* DonateMonthly */
.shadow-sm {
    border-radius: 2px;
    box-shadow: 0.25px 0.25px 2px 0.25px rgb(202, 202, 202);
}

.bg-blue-info {
    background: rgba(220, 237, 241, 0.5);
}

.cat-img {
    width: 40px;
    height: 40px;
}

.head-title {
    font-family: Aleo, Georgia, serif;
    color: #483939;
    font-weight: 600;
}



/* category  */
.cat-card {
    width: 70%;
}

.cat-card:hover {
    cursor: pointer;
}

.head-title::after {
    content: " ";
    display: block;
    width: 67px;
    height: 2px;
    background: linear-gradient(to right, #ea9510, rgb(255, 111, 0));
    margin-top: 10px;
    left: 50%;
    position: absolute;
    left: 48%;
}

.img-100 {
    width: 100px;
    height: 100px;
}

/* button */

.light-slide-btn {
    padding: 5px 17px;

    font-size: 14px;
    background: linear-gradient(to right, #fcb045, #fd1d1d, #9458bb);
    color: white;
    border: none;
    /* border-radius: 5px; */
    border: 2px solid #ffffff96;
    position: relative;
    overflow: hidden;
    transition: color 0.9s ease;
}

.light-slide-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: left 0.5s ease-out;
    z-index: 0;
}

.light-slide-btn:hover::before {
    left: 100%;
}

/* Maintain text color on hover */
.light-slide-btn:hover {
    color: white;
    cursor: pointer;
}

.btn-radius {
    border-radius: 22px;
}

.btn-lg-round {
    padding: 0.5rem 1.8rem;
    letter-spacing: 2px;
}

.btn-lg-round:hover {
    background: transparent;
    color: #fff;
}

.btn-tranperent-white {
    background: transparent;
    padding: 0.5rem 1.8rem;
    letter-spacing: 2px;
    outline: none;
    color: #fff;
    border: 1px solid;
    cursor: pointer;
}

.btn-tranperent-white:hover {
    background: whitesmoke;
    color: black;
}


.btn-md-text-dark {
    padding: 0.5rem 1.8rem;
    letter-spacing: 2px;
}

.btn-md-text-dark:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}

.line-spacing {
    letter-spacing: 3px;
}

.upper-case {
    text-transform: uppercase;
}

.card-shape {
    border-radius: 0.25rem 3.8rem 0.25rem 0.25rem;
}

.card-shape-lg {
    border-radius: 0.25rem 9rem 0.25rem 0.25rem;

}

.bg-counter-blue {
    background: rgb(222, 142, 16);
    background: linear-gradient(90deg, rgba(222, 142, 16, 1) 0%, rgba(49, 171, 196, 1) 0%, rgba(75, 132, 204, 1) 34%, rgba(38, 37, 31, 0.5842669831604517) 84%);
}

.bg-blog {
    background: rgb(66, 83, 108);
    background: linear-gradient(90deg, rgba(66, 83, 108, 1) 11%, rgba(95, 69, 129, 1) 37%, rgba(56, 68, 116, 0.9977240896358543) 75%, rgba(65, 85, 143, 0.9977240896358543) 99%);
}

.bg-creame {
    background: rgb(88, 180, 173);
    background: linear-gradient(90deg, rgba(88, 180, 173, 1) 11%, rgba(86, 189, 172, 1) 37%, rgba(76, 152, 164, 0.9977240896358543) 75%, rgba(76, 138, 161, 0.9977240896358543) 100%);
}

.text-beige {
    color: #dcdbad;
}

.list-none {
    list-style: none;
}

a {
    text-decoration: none;
}

.border-bottom-warning {
    text-decoration: none;
    border-bottom: 2.5px solid #ea9510;
}

.border-bottom-warning:hover {
    text-decoration: none;
    /* Remove underline on hover */
}

.testobar {
    height: 30%;
    width: 40%;
}


.testoDecoration2 {
    border-radius: 25%;
    /* width: 25%; */

}

.w-90 {
    width: 90%;
}

h5 {
    font-weight: bolder;
}

h6 {
    font-weight: bolder;
}

.comp-logo {
    width: auto;
    margin: 16px;
    height: 80px;
}



/* slider hover effect */
.overlays {
    transform: translateY(200px);
    transition: transform 0.5s;
}

.overlay-hover {
    width: 100rem;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    height: 10rem;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
    /* border-radius: 10px; */

}

.overlay-hover>* {
    transform: translateY(50px);
    transition: transform 0.5s;
}

.overlay-hover:hover>* {
    transform: translateY(0);
}


.overlay-hover:hover {
    opacity: 1;
}

.overlay-hover-blur {
    backdrop-filter: blur(2px);
    /* -webkit-backdrop-filter: blur(5px); */
}

.font-Aleo-donation_heading {
    font-family: Aleo, Georgia, serif;
}

.text-grey-head {
    color: #4d4949;
}

.border-grey {
    border-right: 1px solid black;
}

.px-7 {
    width: 70%;
}

.remove-defaultWidth-p {
    margin: 0px;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-20 {
    font-size: 1.5rem;
}

.fs-25 {
    font-size: 3.125rem;
}

.fs-40 {
    font-size: 4rem;
}

.fs-sm-10 {
    font-size: 0.8rem;
}

.fs-16 {
    font-size: 1rem;
}

.line-height {
    line-height: 6px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.input-remove-design {
    outline: none;
    border: none;
}

.img-overlay-info {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 13.7rem;
    font-size: 14px;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 13.7rem;
    font-size: 14px;
}

.bg-transprent {
    background: transparent;
}

.h-100vh {
    height: 100vh;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.input-payment-box {
    height: 40px;

}



.rounded-circle {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

/* About */

.bg-img {
    background: url('https://rare-gallery.com/uploads/posts/5346974-workspace-macbook-team-colleague-working-work-laptop-table-employee-teamwork-developer-people-office-business-ceveloper-team-mate-free-images.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

.bg-img-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 330vh;
    z-index: 1;

}

.carousel-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.navbar-glassy {
    background: rgb(122, 116, 125);
    background: linear-gradient(90deg, rgba(122, 116, 125, 1) 0%, rgba(142, 129, 129, 1) 34%, rgba(122, 87, 70, 1) 84%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* transition: background-color 1000ms ease; */
}

.footer-pos-about {
    position: absolute;
    top: 0;
}

.content {
    z-index: 2;
    position: relative;
}

.after-bottom-line::after {
    content: " ";
    display: block;
    width: 40%;
    height: 2px;
    background: linear-gradient(to right, #eee 60%, #333 75%);
    margin-top: 10px;
    left: 50%;
    position: absolute;
    left: 2%;
}

.linear-gradient-b-w {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 11%, rgba(224, 224, 235, 1) 44%, rgba(161, 167, 168, 0.9977240896358543) 85%);
}

.z-index-2 {
    z-index: 2;
}

.ceo-img-1 {
    width: 20%;
    border-radius: 55%;
    height: 7.9rem;
}

.ceo-img-2 {
    width: 66%;
    border-radius: 55%;
    height: 7.9rem;
}

.bg-black {
    background: black;
}

.border-left-blue {
    border-left: 10rem solid blue;
}

.hover-card-shadow:hover {
    box-shadow: 2px 2px 12px 2px grey;
}

.input-border-bottom {
    border-bottom: 2px solid #333;
}

.fs-15 {
    font-size: 1.3rem;
}

.hover-btn:hover {
    background: rgb(69, 26, 69);
    color: #fff;
    cursor: pointer;
}

.bg-orange {
    background: #ffe9d6;
}

.bg-orange-dark {
    background: rgb(212,118,74);
background: linear-gradient(90deg, rgba(212,118,74,1) 11%, rgba(189,119,86,1) 43%, rgba(189,133,87,0.9977240896358543) 73%, rgba(190,129,58,0.9977240896358543) 100%);
}

.btn-remove-design {
    border: none;
    outline: none;
}

.testo-img {
    width: 43%;
    border-radius: 55%;
    height: 7.9rem;
}

.sect-mr {
    margin-top: 5rem;
}

.read-btn {
    border-radius: 22px;
    border: 1px solid #5270bc;
    background: transparent;
    font-weight: bold;
    color: #3769e7;
    padding: 5px 17px;
    cursor: pointer;
}

/* volunteer card */

.volunteer-card-name {
    position: absolute;
    bottom: 2.5rem;

}

.volunteer-card-bg-pink {
    background: rgb(185, 58, 209);
    background: linear-gradient(90deg, rgba(185, 58, 209, 1) 11%, rgba(215, 42, 212, 1) 42%, rgba(224, 124, 175, 0.9977240896358543) 85%);
}

.volunteer-card-bg-blue {
    background: rgb(222, 142, 16);
    background: linear-gradient(90deg, rgba(222, 142, 16, 1) 0%, rgba(49, 171, 196, 1) 0%, rgba(59, 136, 161, 1) 37%, rgba(71, 91, 117, 1) 66%);
}

.volunteer-card-bg-green {
    background: rgb(33, 214, 106);
    background: linear-gradient(90deg, rgba(33, 214, 106, 1) 11%, rgba(33, 180, 136, 1) 36%, rgba(32, 154, 139, 0.9977240896358543) 75%, rgba(91, 168, 158, 0.9977240896358543) 99%);
}

.volunteer-card-bg-red {
    background: rgb(214, 72, 33);
    background: linear-gradient(90deg, rgba(214, 72, 33, 1) 11%, rgba(186, 107, 22, 1) 37%, rgba(154, 99, 32, 0.9977240896358543) 75%, rgba(143, 109, 65, 0.9977240896358543) 99%);
}

/* Login CSS */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

/* DonateCardsPage */

.donateCard {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    place-items: center;

}

.donateCard-content {
    position: absolute;
    opacity: 0;
    transition: transform 500ms ease-in, opacity 500ms ease-out;

}

.donateCard-overlay {
    width: 90%;
    background: #fff;
    border-radius: 0px 0px 20px 20px;

}

.donateCard-img {
    /* position: fixed; */
    width: 100%;
    height: 100%;
}

.donateCard:hover .donateCard-show-title {
    opacity: 1;
}

.donateCard:hover .donateCard-overlay {
    transform: opacity 500ms ease-in;
}

.donateCard:hover .donateCard-content {
    transform: translateY(1%);
    /* transition: transform 500ms ease-in, opacity 500ms ease-in; */
    opacity: 1;

}

.donateCard-img:not(:hover) {
    transform: scale(1);
    transition: transform 500ms ease-in-out;
}




@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


@media (width < 1201px) {
    .border-grey {
        border-right: none;
    }

}